name: build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.14.x]
    env:
      COSMOS_DB_ORIGIN: ${{ secrets.COSMOS_DB_ORIGIN }}
      COSMOS_DB_MASTER_KEY: ${{ secrets.COSMOS_DB_MASTER_KEY }}
      COSMOS_DB_DATABASE: ${{ secrets.COSMOS_DB_DATABASE }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Environment log
        run: |
          node --version
          npm --version
      - name: Install
        run: |
          npm install
      - name: Lint
        run: |
          npm run lint
      - name: Build
        run: |
          npm run build
      - name: Test
        run: |
          npm run test
