name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    env:
      COSMOS_DB_ORIGIN: ${{ secrets.COSMOS_DB_ORIGIN }}
      COSMOS_DB_MASTER_KEY: ${{ secrets.COSMOS_DB_MASTER_KEY }}
      COSMOS_DB_DATABASE: ${{ secrets.COSMOS_DB_DATABASE }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs
          # with the correct commits
          fetch-depth: 0
      - name: Use Node.js 16.14.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.14.x
      - name: Environment log
        run: |
          node --version
          npm --version
      - name: Install
        run: |
          npm install
      - name: Lint
        run: |
          npm run lint
      - name: Build
        run: |
          npm run build
      - name: Test
        run: |
          npm run test
      - name: Publish
        id: changesets
        uses: changesets/action@v1
        with:
          # This expects you to have a script called release which does a build for your packages
          # and calls changeset publish
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
